<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="{% static 'images/logo.svg' %}" type="image/x-icon"/>
        <link rel="stylesheet" href="{% static 'styles/style.css' %}"/>
        <title>D2Forum</title>
    </head>

    <body>

    {% include 'navbar.html' %}

    {% block content %}

    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>


