<div class="activities">
    <div class="activities__header">
        <h2>Recent Messages</h2>
    </div>
    {% for mes in fetched_messages %}
        <div class="activities__box">
            <div class="activities__boxHeader roomListRoom__header">
                <a href="{% url 'profile' mes.user.id %}" class="roomListRoom__author">
                    <div class="avatar avatar--small">
                        <img src={{ mes.user.avatar.url }}/>
                    </div>
                    <p>
                        @{{ mes.user }}
                        <span>{{ mes.created|timesince }} ago</span>
                    </p>
                </a>
            </div>
            <div class="activities__boxContent">
                <p>replied to <a href="{% url 'topic' mes.topic.id %}">{{ mes.topic }}</a></p>
                <div class="activities__boxRoomContent">
                    {{ mes }}
                </div>
            </div>
        </div>
    {% endfor %}

</div>

