{% extends 'main.html' %}

{% block content %}
    <main class="layout layout--3">
        <div class="container">
            {% include 'base/themes_component.html' %}
            <div class="roomList">
                <div class="mobile-menu">
                    <form class="header__search" action="{% url 'home' %}">
                        <label>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                 viewBox="0 0 32 32">
                                <title>search</title>
                                <path
                                        d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"
                                ></path>
                            </svg>
                            <input placeholder="Type topic to search..." type="text" name="search"/>
                        </label>
                    </form>
                    <div class="mobile-menuItems">
                        <a class="btn btn--main btn--pill" href="{% url 'themes' %}">Browse Themes</a>
                        <a class="btn btn--main btn--pill" href="{% url 'messages' %}">Recent Messages</a>
                    </div>
                </div>
                <div class="roomList__header">
                    <div>
                        <h2>Topics</h2>
                        <p>View {{ am_of_tops }} topic{{ am_of_tops|pluralize:'s' }}</p>
                    </div>
                    {% if request.user.is_authenticated %}
                        <a class="btn btn--main" href="{% url 'create_topic' %}">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                 viewBox="0 0 32 32">
                                <title>add</title>
                                <path
                                        d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z"
                                ></path>
                            </svg>
                            Create Topic
                        </a>
                    {% endif %}
                </div>
                {% include 'base/topics_component.html' %}

            </div>

            {% include 'base/activities_component.html' %}

        </div>
    </main>
{% endblock %}