{% extends 'main.html' %}

{% block content %}
<main class="layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <a href="{% url 'home' %}">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                             viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path
                                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
                            ></path>
                        </svg>
                    </a>
                    <h3>Recent Messages</h3>
                </div>
            </div>

            <div class="activities-page layout__body">
                {% for mes in vse_messages %}
                    <div class="activities__box">
                        <div class="activities__boxHeader roomListRoom__header">
                            <a href="{% url 'profile' mes.user.id %}" class="roomListRoom__author">
                                <div class="avatar avatar--small">
                                    <img src={{ mes.user.avatar.url }}/>
                                </div>
                                <p>
                                    @{{ mes.user }}
                                    <span>{{ mes.created|timesince }} ago</span>
                                </p>
                            </a>
                        </div>
                        <div class="activities__boxContent">
                            <p>replied to post “<a href="{% url 'topic' mes.topic.id %}">{{ mes.topic }}</a>”</p>
                            <div class="activities__boxRoomContent">
                                {{ mes.body }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</main>

{% endblock %}
