{% extends 'main.html' %}


{% block content %}
    <main class="profile-page layout layout--3">
        <div class="container">
            {% include 'base/themes_component.html' %}

            <div class="roomList">
                <div class="profile">
                    <div class="profile__avatar">
                        <div class="avatar avatar--large active">
                            <img src="{{ user.avatar.url }}"/>
                        </div>
                    </div>
                    <div class="profile__info">
                        <h3>{{ user.name }}</h3>
                        <p>@{{ user.username }}</p>
                        {% if request.user == user %}
                            <a href="{% url 'edit_user' %}?next={{ request.path|urlencode }}" class="btn btn--main btn--pill">Edit Profile</a>
                        {% endif %}
                    </div>
                    <div class="profile__about">
                        <h3>About</h3>
                        <p>
                            {{ user.about }}
                        </p>
                    </div>
                </div>

                <div class="roomList__header">
                    <div>
                        <h2>Watch {{ user.username }}'s topics
                        </h2>
                    </div>
                </div>
                {% include 'base/topics_component.html' %}
            </div>
            {% include 'base/activities_component.html' %}
        </div>
    </main>
{% endblock %}
