<div class="topics">
    <div class="topics__header">
        <h2>Browse Themes</h2>
    </div>
    <ul class="topics__list">
        <li>
            <a href="{% url 'home' %}" class="active">All <span>{{ themes.count }}</span></a>
        </li>
        {% for theme in themes %}
        <li>
            <a href="{% url 'home' %}?search={{ theme }}">{{ theme }} <span>{{ theme.topic_set.all.count }}</span></a>
        </li>
        {% endfor %}

    </ul>
    <a class="btn btn--link" href="{% url 'themes' %}">
        More
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>chevron-down</title>
            <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
        </svg>
    </a>
</div>
