{% extends 'main.html' %}

{% block content %}
<main class="create-room layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <a href="{% url 'home' %}">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                             viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path
                                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                        </svg>
                    </a>
                    <h3>Create Topic</h3>
                </div>
            </div>
            <div class="layout__body">
                <form class="form" method="post" action="" >
                    {% csrf_token %}
                        <div class="form__group">
                            <label for="room_topic">Theme</label>
                            <input required type="text" name="theme" value="{{ topic.name }}" list="theme-list"/>
                            <datalist id="theme-list" >
                                <select id="room_topic">
                                    {% for theme in themes %}
                                        <option value="{{ theme }}">{{ theme }}</option>
                                    {% endfor %}
                                </select>
                            </datalist>
                        </div>

                        <div class="form__group">
                            <label for="room_name">Topic Name</label>
                            {{ form.name }}
                        </div>
                        <div class="form__group">
                            <label for="room_description">Topic Description</label>
                            {{ form.description }}
                        </div>
                        <div class="form__action">
                            <a class="btn btn--dark" href="{% url 'home' %}">Cancel</a>
                            <button class="btn btn--main" type="submit">Submit Topic</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}